@font-face {
    font-family: 'AlexBrush';
    src: url('../fonts/Alex_Brush/AlexBrush-Regular.ttf');
}


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto.ttf');
}


* {

    font-family: arial;
    background-color: rgb(243, 244, 245);
}


.app {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;

}

.row {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;

}


#cuadro {
    grid-row: 2;
    width: 100%;
    grid-column: 5/11;
    box-shadow: 2px 2px 2px 2px rgb(206, 203, 203);
    border-radius: 8px;


}



#inputColor {
    margin-top: 20px;
    grid-row: 3;
    grid-column: 6/12;
    border: none;
    outline: none;
    background: none;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    background-color: none;
    border: 1px solid #c2c2c2;
}


#titulo {
    grid-row: 1;
    grid-column: 5/12;
    color: rgba(151, 149, 149, 0.904);
    font-size: 38px;
    font-family: AlexBrush;
    text-transform: capitalize;

}

#labelInformacion {
    grid-row: 4;
    margin-top: 5px;
    grid-column: 6/7;
    color: rgb(104, 103, 103);
    font-size: 16px;
    font-family: Roboto;
}


@media (max-width:1920px) {



    #cuadro {
        grid-row: 2;
        grid-column: 5/9;
    }

    #titulo {
        grid-row: 1;
        grid-column: 5/9;
        font-size: 30px;
    }

}





@media (max-width:1000px) {



    #cuadro {
        grid-row: 2;
        grid-column: 3/11;



    }

    #titulo {
        grid-row: 1;
        grid-column: 3/12;
        font-size: 32px;
    }

    #labelInformacion {
        margin-top: 5px;
        grid-column: 6/7;
        font-size: 17px;

    }



}





@media (max-width:800px) {



    #cuadro {
        grid-row: 2;
        grid-column: 2/12;


    }

    #titulo {
        grid-row: 1;
        grid-column: 2/12;
        font-size: 30px;
    }

    #labelInformacion {
        margin-top: 5px;
        grid-column: 6/7;
        font-size: 15px;

    }



}





@media (max-width:400px) {



    #cuadro {
        grid-row: 2;
        grid-column: 1/13;

    }

    #titulo {
        grid-row: 1;
        grid-column: 2/12;
        font-size: 30px;
    }


    #labelInformacion {
        margin-top: 5px;
        grid-column: 6/7;
        font-size: 12px;

    }


}